.containerIcons{
    background: var(--Dark-Blue);
    padding: 1rem;
    width: 20rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border-top-right-radius: 7rem;
}
.containerIcons>figure{
    width: 50%;
    margin: 1rem;
}
.containerIcons div{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
.bgIcon{
    background: var(--Very-Dark-Blue);
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
@media (max-width: 376px) {
    .containerIcons{
        width: 95%
    }
}