<div class="container-modal">
    <div class="header-dialog">
        <h2>RULES</h2>
        <button class="btn-close-desk" mat-icon-button (click)="cerrarModal()" aria-label="Cerrar">
            <img src="../../../assets/images/icon-close.svg" alt="icon-close">
        </button>
    </div>
    <div class="container-image-rule" mat-dialog-content [ngSwitch]="isBasicGame">
        <ng-container *ngSwitchCase="true">
            <img src="../../../assets/images/image-rules.svg" alt="rules">
        </ng-container>
        <ng-container *ngSwitchCase="false">
            <img src="../../../assets/images/image-rules-bonus.svg" alt="rules-bonus">
        </ng-container>
    </div>
    <mat-dialog-actions class="container-btn-close-mobile">
        <button class="btn-close-mobile" mat-icon-button (click)="cerrarModal()" aria-label="Cerrar">
            <img src="../../../assets/images/icon-close.svg" alt="icon-close">
        </button>
      </mat-dialog-actions>
</div>