@use "Fonts_Color/fonts-Colors" as fc;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import "FlexBox/flexbox";
@import "boxes/boxStyles";
.container {
  @include flex-box();
  font-family: fc.$font-family;
  background-image: url("../images/bg-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  background-color: fc.$VeryLightGrayishBlue;
  .header {
    width: 100%;
    @include flex-box();
    color: fc.$GrayishBlue;
    margin: 2.5rem auto;
    .tittle {
      margin: 2rem auto;
      text-align: center;
      max-width: 20rem;
    }
    .changeSub {
      width: 15rem;
      @include flex-box($D: row, $jC: space-around);
      color: fc.$LightGrayishBlue;
      p {
        margin: auto 0;
      }
      .btngroup {
        width: 5rem;
        height: 2.5rem;
        @include flex-box($D: row, $jC: space-evenly);
        border-radius: 1rem;
        background: linear-gradient(
          (90deg, fc.$LinearGradientI) 20%,
          fc.$LinearGradientF 90%
        );
        #btnAnual {
          background: transparent;
          width: 2rem;
          height: 2rem;
          border-radius: 100%;
          transition: all .5s cubic-bezier(0.83, -0.27, 0.32, 1.27);
          -webkit-transition: all .5s cubic-bezier(0.83, -0.27, 0.32, 1.27);
          -moz-transition: all .5s cubic-bezier(0.83, -0.27, 0.32, 1.27);
          -ms-transition: all .5s cubic-bezier(0.83, -0.27, 0.32, 1.27);
          -o-transition: all .5s cubic-bezier(0.83, -0.27, 0.32, 1.27);
}
        #btnMensual {
          background: white;
          width: 2rem;
          height: 2rem;
          border-radius: 100%;
          transition: all .5s cubic-bezier(0.83, -0.27, 0.32, 1.27);
          -webkit-transition: all .5s cubic-bezier(0.83, -0.27, 0.32, 1.27);
          -moz-transition: all .5s cubic-bezier(0.83, -0.27, 0.32, 1.27);
          -ms-transition: all .5s cubic-bezier(0.83, -0.27, 0.32, 1.27);
          -o-transition: all .5s cubic-bezier(0.83, -0.27, 0.32, 1.27);
        }
        & :hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }
  }
  .box-info {
    @include flex-box();
    width: 95%;
    margin: 0 auto 2rem;
    .basic {
      @include flex-box();
      width: 95%;
      background: #fff;
      border-radius: 1rem;
      margin: 1rem;
      @include box($colorB: #fff);
    }

    .professional {
      @include flex-box();
      width: 95%;
      background: linear-gradient(
        (90deg, fc.$LinearGradientI) 20%,
        fc.$LinearGradientF 90%
      );
      border-radius: 1rem;
      margin: 1rem;
      @include box(
        $colorT: #fff,
        $colorB: fc.$LinearGradientI,
        $colorh2: #fff,
        $bg: #fff
      );
    }
    .master {
      @include flex-box();
      width: 95%;
      background: #fff;
      border-radius: 1rem;
      margin: 1rem;
      @include box();
    }
  }
}
@import "mediaQueries/tabletStyle";
@import "mediaQueries/pcStyle";
