main {
    width: 20rem;
    background: url("../../assets/images/bg-triangle.svg") no-repeat;

    &.hide-background {
        background: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        position: relative;
        top: -3rem;

        .card {
            display: flex;
            padding: 2rem;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            align-items: center;
            justify-content: center;
        }
    }

    .results-container {
        display: flex;
        justify-content: space-between;
        gap: 5rem;

        @media (max-width: 1024px) {
            gap: 0rem;
        }

        .result {
            width: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            @media (max-width: 500px) {
                flex-direction: column-reverse;
                width: 45vw;
            }

            h3 {
                text-transform: uppercase;
                color: #fff;
                font-size: 1.5rem;
                font-family: "Barlow Semi Condensed", sans-serif;
                font-weight: 600;

                @media (max-width: 500px) {
                    font-size: 1rem;

                }
            }

            .card {
                scale: 1.5;
                display: flex;
                padding: 2rem;
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                align-items: center;
                justify-content: center;

                @media (max-width: 500px) {
                    scale: 1;
                }
            }

            .card-winner {
                position: relative;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 0 0.5rem hsla(217, 16%, 45%, 0.5),
                    /* Primera onda */
                    0 0 0 1.5rem hsl(217, 16%, 45%, 0.3),
                    /* Segunda onda */
                    0 0 0 2.5rem hsl(217, 16%, 45%, 0.2);
                /* Tercera onda */
                animation: ripple 1.5s infinite;
                /* Añadimos la animación de ondas */
            }

            @keyframes ripple {
                0% {
                    box-shadow: 0 0 0 0.5rem hsla(217, 16%, 45%, 0.5),
                        0 0 0 1.5rem hsl(217, 16%, 45%, 0.3),
                        0 0 0 2.5rem hsl(217, 16%, 45%, 0.2);
                }

                100% {
                    box-shadow: 0 0 0 1rem hsl(217, 16%, 45%, 0.5),
                        0 0 0 2.5rem hsl(217, 16%, 45%, 0.3),
                        0 0 0 4rem hsl(217, 16%, 45%, 0.2);
                }
            }

            .card-loading {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 2.5rem;
                height: 2.5rem;
                padding: 3.3rem;
                border: none;
                background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
            }
        }

        app-result-display.result-display-desk {
            display: flex;

            @media (max-width: 700px) {
                display: none;
            }
        }
    }

    app-result-display.result-display-mobile {
        display: none;

        @media (max-width: 700px) {
            display: flex;
        }
    }
}