<main [ngClass]="{ 'hide-background': selectedCard }">
  <div class="card-container" *ngIf="!selectedCard">
    <div
      *ngFor="let card of cards"
      class="card"
      [ngStyle]="{ background: card.borderColor }"
    >
      <app-card-icon
        [imageUrl]="card.imageUrl"
        [backgroundColor]="card.backgroundColor"
        [borderColor]="card.borderColor"
        [altText]="card.altText"
        (iconClick)="handleIconClick(card)"
      >
      </app-card-icon>
    </div>
  </div>
  <!-- Si se ha seleccionado una carta, mostrar las selecciones -->
  <div class="results-container" *ngIf="selectedCard">
    <div class="result">
      <h3>You picked</h3>
      <div class="card" [ngClass]="{'card-winner': winner === 'You win'}" [ngStyle]="{ background: selectedCard.borderColor }">
        <app-card-icon
          [imageUrl]="selectedCard.imageUrl"
          [backgroundColor]="selectedCard.backgroundColor"
          [borderColor]="selectedCard.borderColor"
          [altText]="selectedCard.altText"
        >
        </app-card-icon>
      </div>
    </div>

    <div class="container-result-final" *ngIf="winner">
      <h2>{{ winner }}</h2>
      <button class="btn-reset-game" *ngIf="houseCard && selectedCard" (click)="restartGame()">
        Play Again
      </button>
    </div>

    <div class="result" *ngIf="houseCard">
      <h3>The house picked</h3>
      <div class="card" [ngClass]="{'card-winner': winner === 'You lose'}"  [ngStyle]="{ background: houseCard.borderColor }">
        <app-card-icon
          [imageUrl]="houseCard.imageUrl"
          [backgroundColor]="houseCard.backgroundColor"
          [borderColor]="houseCard.borderColor"
          [altText]="houseCard.altText"
        >
        </app-card-icon>
      </div>
    </div>

    <div class="result" *ngIf="!houseCard">
      <h3>The house picked</h3>
      <div class="card-loading"></div>
    </div>
  </div>
</main>
