button.btn-dialog-rule{
    border: hsl(217, 16%, 45%) 2px solid;
    background: transparent;
    color: white;
    text-transform: uppercase;
    width: 7rem;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
}